@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

/*pour que ça scroll doucement*/
html {
    scroll-behavior: smooth;
}  

body {
    font-family: "Poppins", sans-serif;
    background-color: #e8f7e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.banner {
    display: flex;
    height: 500px;
    margin-top: 20px;
}

.banner .text {
    width: 50%;
    padding: 20px;
}

.banner .text h1 {
    font-size: 40px;
    font-weight: bold;
}

.banner .text p {
    font-size: 20px;
    margin: 10px 0;
}

.banner .image {
    width: 50%;
}

.banner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, darkorchid, rgba(0, 0, 255, 0)) 1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.section {
    width: 25%;
    padding: 20px;
    position: relative;
    display: flex; /* Ajouter cette ligne */
    flex-direction: column; /* Ajouter cette ligne */
    align-items: center; /* Ajouter cette ligne */
    justify-content: center; /* Ajouter cette ligne */
}

.section .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.section .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section .text {
    text-align: center;
    height: 7.65em; /* Approximately 2 lines of text */
    overflow: hidden;
    position: relative;
    transition: height 0.3s;
}

.section:hover .text {
    height: auto; /* Expand height on hover */
}

.section .text h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.section .text p {
    font-size: 18px;
    margin: 10px 0;
}

.section .text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #e8f7e9);
    transition: height 0.3s;
}

.section:hover .text::after {
    height: 0;
}

.section .button {
    margin-top: 20px; /* Ajouter cette ligne */
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: lightgray;
    padding: 0 20px;
    margin-top: auto; /* Push footer to the bottom */
}

.social {
    display: flex;
}

.social a {
    margin: 0 20px;
}

.social img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info p {
    margin: 0;
}

.footer .logo {
    width: 100px;
}

@keyframes verslaDroite {
    0% {
        opacity: 0;
            transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes verslaGauche {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.example {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    opacity: 0;
    transform: translateX(-250px);
    transition: all 0.5s ease-out;
}
.example.hidden {
    animation: verslaGauche 0.5s ease-out forwards;
}
.example.visible {
    animation: verslaDroite 0.5s ease-out forwards;
  }
  
.example:not(.visible) {
    opacity: 0;
    transform: translateX(-100%);
}

.example:not(.visible):not(.hidden) {
    opacity: 0;
    transform: translateX(-100%);
    }

.example-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}


.example-image, .example-description {
    flex: 1 1 45%;
}

.example-image img {
    max-width: 100%;
    height: auto;
    display: block;

}

.example-description {
    font-size: 1rem;
    opacity: 1;
    transform: translateX(0);
}

.example-description h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.example-description p {
    margin-bottom: 1rem;

}

.example-description pre {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
}


.back-to-top a{
    color: #ebebeb; /* Couleur de base du texte */
    text-decoration: none;
    font-weight: bold;
}


.back-to-top {
    text-decoration: none;
    position: fixed;
    left: 3%;
    top: 6%;
    z-index: 999;
    background-color: #414141;
    color: #414141;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-to-top:hover{
    background-color: #a3a3a3;
    color: rgb(68, 68, 68);
    text-decoration: none;
}
.back-to-top:hover a {
    color: rgb(31, 31, 31);
    text-decoration: none; /* <-- Remove underline */
}